[submodule "src/github/tmux-plugins/tpm"]
	path = src/github/tmux-plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "src/github/robbyrussell/oh-my-zsh"]
	path = src/github/robbyrussell/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "src/github/SpaceVim/SpaceVim"]
	path = src/github/SpaceVim/SpaceVim
	url = https://github.com/SpaceVim/SpaceVim.git
[submodule "src/github/Shougo/dein.vim"]
	path = src/github/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim.git
[submodule "src/github/chriskempson/base16-shell"]
	path = src/github/chriskempson/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "src/github/Kraust/base16-tmux"]
	path = src/github/Kraust/base16-tmux
	url = https://github.com/Kraust/base16-tmux.git
[submodule "src/github/dracula/base16"]
	path = src/github/dracula/base16
	url = https://github.com/dracula/base16.git
[submodule "src/github/syl20bnr/spacemacs"]
	path = src/github/syl20bnr/spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "src/github/asdf-vm/asdf"]
	path = src/github/asdf-vm/asdf
	url = https://github.com/asdf-vm/asdf.git
